---
import "../styles/global.css";
import { PrimeReactProvider } from 'primereact/api';
import "primereact/resources/themes/lara-dark-indigo/theme.css";
import Form from "./Form";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <PrimeReactProvider>
            <Form client:load />
        </PrimeReactProvider>
	</body>
</html>

<style>
    body {
        background-color: #111;
    }
</style>

<style is:global>
    ::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff;
    }
</style>
